@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Finance Web</h1>
    <p>Controle de Finanças Pessoais</p>

    <form asp-controller="Home"  asp-action="Cadastro" method="post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="">
                        <label for="" class="form-label">Teste</label>
                        <input type="text" class="form-control mb-2" asp-for="Nome" />
                        <button class="btn btn-success">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </form>
</div>
